<div class="page-header">
    <div class="container">
        <h1>RXJS Chat</h1>
        <div>
            <ul class="list-inline">
                <li class="nav-item">
                        <a class="nav-link active" [routerLink]="['/app-login']">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/app-chat-page']">Chat</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>